<h1 class="page-header text-center"><%= @recipe.name %> Recipe</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 push-down">
    <form action="/categories/<%= @category.id %>/recipes/<%= @recipe.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="same_page">

      <div class="form-group">
        <h4>Rate this recipe (higher is better):</h4>
        <select name="rating" class="form-control">
          <% (1..5).each do |idx| %>
            <option value="<%= idx %>"

              <% if idx == @recipe.rating %>
                selected
              <% end %>

            ><%= idx %> Star</option>
          <% end %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Rate</button>
    </form>

    <div class="push-down">
      <h4>Ingredients:</h4>

      <table class="table">
        <% @ingredients.each() do |ingredient| %>
          <tr>
            <td class="primary">
              <span><%= ingredient.name() %></span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="push-down">
      <h4>Instructions:</h4>

      <table class="table">
        <% @instructions.each_with_index() do |instruction, idx| %>
          <tr>
            <td class="primary">
              <span>Step <%= idx.+(1) %>:</span>
              <span><%= instruction.description() %></span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
